#alumnies{
	.container{
		margin-top: 80px;
		margin-bottom: 80px;
	}

	.alumni{
		text-align:center;
		margin-top: 30px;
		img{
			max-height: 250px;
			margin:0 auto;
		}

		h3{
			a{
				text-decoration:none;
				font-weight: bold;
				font-family: $mainFont;
				color:#374244;
				transition: all .4s ease;

				&:hover{
					color:#9ABE29;
				}
			}
		}
		p{
			font-family: $mainFont;
			color:#767D7F;
		}
		.fa{
			width: 30px;
			height: 30px;
			text-decoration: none;
			color:#444444;
			border-radius: 100%;
			background: #F6F5F2;
			text-align:center;
			padding-top:10px;
			font-size:.7em;
			transition: all .4s ease;

			&:hover{
				color:#9ABE29;
			}
		}
	}
}