#sidebar{
	
	margin-top:110px;
	margin-bottom:90px;
	.sidebar-list{
		background:#F6F5F2;

		div{
			padding:20px 20px;
			&:first-child{
				padding-top:20px;
			}

			&:last-child{
				padding-bottom:20px;
			}
		}
		// #recent-posts{
		// 	padding-top:0;
		// }
	}

	h2{
		font:{
			weight:bold;
			family:$mainFont;
		}
		color:#444444;
	}

	input{
		border:none;
		color:#ACB4B6;
		padding: 10px 15px;
		width: 100%;
		outline:none;
		font-family: $mainFont;
	}

}